
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerLight.woff2") format("woff2"),
          url("../fonts/MullerLight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerRegular.woff2") format("woff2"),
          url("../fonts/MullerRegular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerMedium.woff2") format("woff2"),
          url("../fonts/MullerMedium.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerBold.woff2") format("woff2"),
          url("../fonts/MullerBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerExtraBold.woff2") format("woff2"),
          url("../fonts/MullerExtraBold.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Muller";
  font-display: swap;

  src:
          url("../fonts/MullerBlack.woff2") format("woff2"),
          url("../fonts/MullerBlack.woff") format("woff");
}
