.contacts {
  position: relative;

  .col {
    position: relative;
  }
}

.wrap {
  composes: container from global;
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include max-1440 {
    flex-direction: column-reverse;
    row-gap: 6rem;

    .col {
      width: 100%;
    }
  }
}

.left {
  width: calc(100% / 14) * 4;
  composes: col from global;

  @include max-1440 {
    width: 100%;
  }
}
.right {
  width: calc(100% / 14) * 9 ;
  padding-top: 10rem;
  composes: col from global;
  position: relative;

  @include max-1440 {
    width: 100%;
  }
  @include max-768 {
    padding: 0;
  }
}



.title {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  composes: row from global;
  composes: row--justify from global;

  @include max-768 {
    position: relative;
    flex-direction: column;
  }
}
.text {
  padding-right: 2rem;
  composes: col from global;

  a {
    text-transform: uppercase;
  }

  small {
    font-size: 1.2rem;
    display: inline-block;
    margin-bottom: 1rem;

    @include max-991 {
      font-size: 1.1rem;
    }
  }

  @include max-1440 {
    &.col {
      width: 70%;
    }
  }
  @include max-768 {
    &.col {
      width: 100%;
    }
  }
}
.titleAddress {
  composes: title from global;
  composes: title-h2 from global;
  margin-bottom: 4rem;

  @include max-768 {
    margin-bottom: 3rem;
  }
}

.phones {
  padding-top: 3rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.7;
  composes: col from global;


  p {
    white-space: nowrap;
  }

  @include max-1440 {
    &.col {
      width: 30%;
      text-align: right;
    }
  }
  @include max-768 {
    padding-top: 1rem;
    &.col {
      width: 100%;
      text-align: left;
    }
  }
}

.map {
  transform: translateX( calc(100% / 9) * 1);
  height: 34rem;
  position: relative;

  @include max-768 {
    transform: translateX(0);
    height: 20rem;
    margin-top: 3rem;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  [class*='copyrights-pane'] {
    display: none;
  }
  [class*='ground-pane'] {
    filter: grayscale(1) saturate(1.4);
  }
}



.form-title {
  font-size: 1.3rem;
  margin-bottom: 3rem;

  @include max-1440 {
    margin-bottom: 1rem;
  }
}

@media(max-width: 1440px) and (min-width:768px) {
  .form-fields {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 0px;
  }
  label:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  label:nth-of-type(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  label:nth-of-type(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  label:nth-of-type(4) {
    grid-area: 2 / 1 / 3 / 4;
  }
}

.field {
  margin-bottom: 1rem;
}

.form-text {
  margin: 2.5rem 0;
  color: $gray-darker;
  font-size: 1rem;

  a {
    text-decoration: underline;
    transition: color 0.3s $ease;

    &:hover {
      color: $blue;
    }
  }

  @include max-768 {
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }
}

